@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');

$ff-nav: 'Oxygen', sans-serif;
$theme-main: rgb(70, 95, 204);

.agent-portal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.agent-portal-ticket-table,
.th-ticket-data,
.td-ticket-data {
    border: none;
    border-collapse: collapse;
}

.th-ticket-data,
.td-ticket-data {
    padding: 6px;
    text-align: center;
}

.th-ticket-data {
    border-bottom: 1px solid $ff-nav;
}

.tr-ticket-data {
    box-sizing: border-box;
}

.tr-ticket-data:nth-child(odd) {
    background-color: rgba($theme-main, 0.10);
}

.tr:hover{
    border:2px solid $theme-main
}

.td-ticket-data {
    text-align: center;
}

.ticket-id-link{
    text-decoration: none;
    color: black;
}