#mainpage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "top-right top-mid top-left"
                         "mid-left true-mid mid-right"
                         "bottom-left bottom-mid bottom-right";
    justify-items: center;
    align-items: center;
    #pic{
        grid-area: top-mid;
        width: 350px;
        height: auto;
    }
    #login-container{
        font-weight: 500;
        grid-area: true-mid;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 250px;
        width: 350px;
        border: 2px solid rgb(61, 61, 61);
        .username-container{
            display: grid;
        }
        .password-container{
            display:grid;  
        }
        #button{
            background-color: pink;
            border: 2px solid #555555;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 8px;
        }
    }
}