#navbar {
    background-color: rgb(194, 166, 166);
}

#el {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(194, 166, 166);
}


.links {
    margin-right: 150px;
    text-align: center;
    width: 100px;
    height: 40px;
    font-size: x-large;
    color: brown;
    border: 2px solid rgb(174, 49, 0);
    border-radius: 10px;
    background-color: rgb(194, 166, 166);
    transition: .5s;
}

#el button:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    -webkit-transform: translateY(-2px);
    transform: scale(1.08,1.08);
}