#signupBox {
  display:flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fill;
  width: fit-content;
  padding: 30px;
  background-color: rgb(194, 166, 166);
  border: 3px solid;
  border-radius: 20px;
  box-shadow: 3 px 3px 3px rgba(0, 0, 0, 0.292);
}
#outerBox{
display: flex;
flex-direction: column;
align-items: center;
height: 50vw;
}

#loginlink {
  color: white;
  text-decoration: none;
}
